<div class="top_header">
<% if @user %>
	<h1>Welcome, <a href="/users/<%=@user.id%>"><%=@user.username%></a></h1>
<% else %> 
	<h1>Welcome, Guest</a></h1>
<% end %>

<% if @user %>
<form action="/posts" method="post">
	<input type="text" name="title" placeholder="Title" size="63"><br>
	<textarea name="body" placeholder="Post" cols="62" rows="5"></textarea><br>
	<input type="submit">
</form>
<!-- <hr> -->
<% end %>
</div>

<% @posts.each do |post| %> 
	<div class="post">
		<h1>
			<%= post.title.upcase %> 
			<% if @user %>
				<% if @user.id == post.user_id %>
					<a href="/posts/<%= post.id %>/edit">
		          &#9998;
		      </a>
		    <% end %>
	 		<% end %>
		</h1>
			<p class="italics" >User: <%= post.user.username %></p>
			<p class="italics" >Created at: <%= post.created_at.asctime %></p>
		<div class= "body block_overflow">
			<%= post.body %>
		</div>
		<a href="/posts/<%=post.id%>/like">LIKE</a>
		<div class="comments">
			<ul style="list-style-type: none;">
			<% post.comments.each do |comment| %> 
				<li><b><%=comment.user.username%>:</b> <div class="indent"><%= comment.body %></div></li>
			<% end %>
			</ul>
		</div>

		<% if @user %>
			<div class= "new_comment">
				<form action="/posts/<%=post.id%>/comments" method="post">
					<textarea name="comment_text" id="" rows="2"></textarea>
					<input type="submit" class="center">
				</form>
			</div>
		<% end %>
	</div>
<% end %>



